@font-face {
  font-family: 'MuseoSansRounded-900';
  src: url("../fonts/337D35_0_0.eot");
  src: url("../fonts/337D35_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/337D35_0_0.woff2") format("woff2"), url("../fonts/337D35_0_0.woff") format("woff"), url("../fonts/337D35_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'MuseoSansRounded-100';
  src: url("../fonts/337D35_1_0.eot");
  src: url("../fonts/337D35_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/337D35_1_0.woff2") format("woff2"), url("../fonts/337D35_1_0.woff") format("woff"), url("../fonts/337D35_1_0.ttf") format("truetype"); }

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

a, button {
  outline: none; }

button {
  padding: 0;
  border: 0;
  cursor: pointer; }

a {
  color: inherit;
  text-decoration: none; }

p, h1, span {
  padding: 0;
  margin: 0; }

.container {
  width: 320px;
  margin: 0 auto; }

.page-header {
  position: relative;
  height: 568px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/background-video.jpg");
  overflow-x: hidden; }
  @media (min-width: 375px) {
    .page-header {
      height: 667px;
      background-image: none; } }
  @media (min-width: 768px) {
    .page-header {
      background-image: none; } }

.background-video {
  display: none;
  width: 100%;
  height: 568px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/background-video.jpg"); }
  .background-video iframe {
    display: none; }
  @media (min-width: 375px) {
    .background-video {
      display: block;
      height: 667px;
      background-image: url("../img/background-video@2x.jpg"); }
      .background-video iframe {
        display: block; } }
  @media (min-width: 768px) {
    .background-video {
      background-image: url("../img/background-video@3x.jpg"); } }

.page-header__link-main {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

.page-header__link-text {
  display: block;
  margin-bottom: 29px;
  font-size: 10px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: center; }
  .page-header__link-text:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 15px;
    background-color: #ffffff; }

.main-nav {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 17px;
  margin-bottom: 210px; }
  @media (min-width: 375px) {
    .main-nav {
      margin-bottom: 260px; } }

.main-nav__logo-header {
  width: 69px;
  height: 31px;
  object-fit: contain; }

.main-nav__toggle {
  position: absolute;
  left: 27%;
  top: 26px;
  background: transparent; }
  .main-nav__toggle span {
    display: block;
    width: 15px;
    height: 2px;
    font-size: 0;
    background-color: #ffffff;
    margin-bottom: 5px; }
  @media (min-width: 375px) {
    .main-nav__toggle {
      left: 30%; } }
  @media (min-width: 768px) {
    .main-nav__toggle {
      left: 40%; } }

.page-menu {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.page-menu__item {
  font-weight: 900;
  line-height: 1.29;
  letter-spacing: 1.4px; }
  .page-menu__item:hover + .project-list {
    display: block; }
  .page-menu__item--production {
    transform: translateX(-4%); }
  .page-menu__item--marketing {
    text-align: right;
    transform: translateX(4%); }
  @media (min-width: 375px) {
    .page-menu__item {
      font-size: 17px;
      line-height: 1.41;
      letter-spacing: 1.7px; } }
  @media (min-width: 768px) {
    .page-menu__item {
      font-size: 30px;
      line-height: 1.33;
      letter-spacing: 3px;
      transform: none; }
      .page-menu__item--production {
        padding-left: 20px; }
      .page-menu__item--marketing {
        padding-right: 20px; } }
  @media (min-width: 1440px) {
    .page-menu__item {
      font-size: 50px;
      line-height: 1.2;
      letter-spacing: 5px;
      transform: none; }
      .page-menu__item--production {
        padding-left: 104px; }
      .page-menu__item--marketing {
        padding-right: 104px; } }

.page-menu__button {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 72px;
  height: 72px;
  background: none;
  border: dashed 1px rgba(255, 255, 255, 0.2);
  border-radius: 50%; }

.page-menu__btn {
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 50%; }

.page-menu__arrow {
  position: absolute;
  top: 12px;
  fill: #ffffff; }
  .page-menu__arrow--right {
    left: 5px; }
  .page-menu__arrow--left {
    right: 5px; }
  .page-menu__arrow:hover {
    opacity: 0.4; }

.page-menu__item-link {
  display: block; }

.project-list {
  display: none;
  position: absolute;
  height: 100%;
  background-color: #222222;
  overflow-y: auto;
  z-index: 1000;
  transition: all 3s; }
  @media (min-width: 375px) {
    .project-list {
      width: 280px; } }
  @media (min-width: 768px) {
    .project-list {
      width: 261px; } }
  .project-list--production {
    left: 0; }
  .project-list--marketing {
    display: none;
    position: absolute;
    height: 100%;
    transform: translateX(234px);
    background-color: #222222;
    overflow-y: auto;
    z-index: 1000;
    right: 0; }
    @media (min-width: 375px) {
      .project-list--marketing {
        width: 280px;
        transform: translateX(280px); } }
    @media (min-width: 768px) {
      .project-list--marketing {
        width: 261px;
        transform: translateX(261px); } }
    @media (min-width: 1200px) {
      .project-list--marketing {
        transform: translateX(254px); } }

.project-list__item {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 180px;
  background-image: url("../img/olay.jpg");
  background-size: 320px 180px;
  background-repeat: no-repeat;
  background-position-x: -258px;
  background-repeat: no-repeat;
  border-bottom: 1px dashed #000000; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .project-list__item {
      background-image: url("../img/olay-2@2x.jpg"); } }
  @media (min-width: 768px) {
    .project-list__item {
      background-image: url("../img/olay-2@3x.jpg"); } }
  .project-list__item:nth-child(2) {
    opacity: 0.8;
    background-image: url("../img/screen-shot-2017-01-31-at-190849.jpg"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .project-list__item:nth-child(2) {
        background-image: url("../img/screen-shot-2017-01-31-at-190849@2x.jpg"); } }
    @media (min-width: 768px) {
      .project-list__item:nth-child(2) {
        background-image: url("../img/screen-shot-2017-01-31-at-190849@3x.jpg"); } }
  .project-list__item:nth-child(3) {
    opacity: 0.6;
    background-image: url("../img/screen-shot-2017-01-31-at-191308-copy.jpg"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .project-list__item:nth-child(3) {
        background-image: url("../img/screen-shot-2017-01-31-at-191308-copy@2x.jpg"); } }
    @media (min-width: 768px) {
      .project-list__item:nth-child(3) {
        background-image: url("../img/screen-shot-2017-01-31-at-191308-copy@3x.jpg"); } }
  .project-list__item:nth-child(4) {
    opacity: 0.2;
    background-image: url("../img/screen-shot-2017-01-31-at-191107.jpg"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .project-list__item:nth-child(4) {
        background-image: url("../img/screen-shot-2017-01-31-at-191107@2x.jpg"); } }
    @media (min-width: 768px) {
      .project-list__item:nth-child(4) {
        background-image: url("../img/screen-shot-2017-01-31-at-191107@3x.jpg"); } }
  .project-list__item:nth-child(5) {
    opacity: 0.1;
    background-image: url("../img/screen-shot-2016-10-31-at-233617-copy-2.jpg"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .project-list__item:nth-child(5) {
        background-image: url("../img/screen-shot-2016-10-31-at-233617-copy-2@2x.jpg"); } }
    @media (min-width: 768px) {
      .project-list__item:nth-child(5) {
        background-image: url("../img/screen-shot-2016-10-31-at-233617-copy-2@3x.jpg"); } }
  .project-list__item:hover {
    opacity: 1;
    background-position-x: 0; }

.project-list__link {
  display: none; }
  .project-list__link:after, .project-list__link:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .project-list__link::after {
    width: 17px;
    height: 13px;
    background-image: url("../img/icons/icon-eye.svg");
    background-repeat: no-repeat; }
  .project-list__link::before {
    width: 38px;
    height: 38px;
    border: 1px solid #ffffff;
    border-radius: 50%; }
  .project-list__link:hover::after, .project-list__link:hover::before {
    transform: scale(1.2) translate(-45%, -45%); }

.project-list__item:hover > .project-list__desc {
  display: none; }

.project-list__item:hover > .project-list__link {
  display: block; }

.project-list__image {
  width: 320px;
  height: 180px;
  transform: translateX(-270px); }
  .project-list__image:hover {
    transform: translateX(0); }
  @media (min-width: 375px) {
    .project-list__image {
      width: 330px; } }

.project-list__desc {
  margin-left: 96px;
  margin-top: 42px; }

.project-list__client-name {
  margin-bottom: 5px; }
  .project-list__client-name span:first-child {
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    text-transform: initial; }
  .project-list__client-name span:last-child {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1.9px;
    color: #ffffff; }

.project-list__name {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.35;
  letter-spacing: 0.6px; }

.project-list__button {
  display: none; }
  @media (min-width: 768px) {
    .project-list__button {
      display: block;
      position: fixed;
      bottom: 10%;
      left: 47px;
      padding: 22px 30px;
      font-size: 12px;
      font-weight: 900;
      letter-spacing: 0.8px;
      text-align: center;
      color: inherit;
      border-radius: 1px;
      background-color: #f8574a; }
      .project-list__button--marketing {
        right: 47px;
        left: 53px; } }
  .project-list__button:hover {
    background-color: #ec2c1c; }
