body{
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
}
ul,li{
  padding: 0;
  margin: 0;
  list-style: none
}
a,button{
  outline: none;
}
button{
  padding: 0;
  border: 0;
  cursor: pointer;
}
a{
  color: inherit;
  text-decoration: none;
}
p, h1, span{
  padding: 0;
  margin: 0;
}