@font-face {
  font-family: 'MuseoSansRounded-900';
  src: url('../fonts/337D35_0_0.eot');
  src: url('../fonts/337D35_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/337D35_0_0.woff2') format('woff2'),url('../fonts/337D35_0_0.woff') format('woff'),url('../fonts/337D35_0_0.ttf') format('truetype');
}
  
   
@font-face {
  font-family: 'MuseoSansRounded-100';
  src: url('../fonts/337D35_1_0.eot');
  src: url('../fonts/337D35_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/337D35_1_0.woff2') format('woff2'),url('../fonts/337D35_1_0.woff') format('woff'),url('../fonts/337D35_1_0.ttf') format('truetype');
}